body {
	padding: 10px;
}

img {
	width: 10%;
	max-height: 120px;
}

.header {
	display: inline-flex;
	width: 100%;
}

h1 {
	padding-left: 5px;
}

.duration {
	text-align: center;
}

input {
	margin: 10px;
}